body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;          
    padding: 20px;
    background-color: #353637;
    color: #ffffff;
    border: solid rgb(0, 0, 0);
}

.site-name {
    font-size: 100px;
    padding-left: 30px;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.nav-bar{
    display: flex;
    justify-content: space-around; 
    align-items: end;    
    flex-wrap: wrap;       
    width: 600px;
    height: 100px;
}

.nav-bar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

.nav-bar a:hover {
    text-decoration: underline;
    color: #ff0000;
}

.icon{
    width: 100px;
    height: 100px;
}

.div1{
    width: 600px;
    height: 100px;
    color:rgb(239, 84, 27);
    text-shadow: 3px 4px 8px rgba(86, 85, 85, 0.5);
}

section {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: #dad8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact-us h1 {
    font-size: 2.5em;
    margin-bottom: 0.2em;
    color:rgb(239, 84, 27);
    text-align: center;
}

.contact-us h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #000000;
}

.contact-info p {
    font-size: 1.1em;
}

.contact-form {
    margin-top: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    display: inline-block;
    background-color: #c0392b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #e74c3c;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media a {
    color: #c0392b;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #e74c3c;
}

footer {
    background-color: #dcb297;
    color: rgb(0, 0, 0);
    text-align: center;
    flex-wrap: wrap; 
    padding: 15px;
    font-size: 25px;
}
